node_modules/
node_modules
.env
.env.*
!/.env.example
!.env.example
/dist
/build
/.next
/apps/**/dist
/apps/**/build
/apps/**/.next
/coverage
/data
.DS_Store
/.turbo
**/.turbo
/apps/api/prisma/dev.db*
/apps/mobile/.expo
/packages/shared/dist
/docs/.cache
tsconfig.tsbuildinfo
secrets/*.dec.*
/apps/web/public/querobroa/brand/*
!/apps/web/public/querobroa/brand/.gitkeep
/.playwright-cli/
/output/
/packages/ui/dist/
