version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: querobroapp-postgres
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-querobroapp}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
